body{
    height: 97%;
    width: 97%;
    margin: auto;
    background-color: rgb(142, 162, 185);
}

a:link{
    text-decoration: none;
    text-transform: capitalize;
}

.maintitle{
    display: flex;
    height: 105px;
    margin-top: 10px;
    background-color: rgb(200, 239, 239);
}

#mainlogo1{
    height: 75px;
    width: 75px;
    border-radius: 71px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 2px;
}

#secondarytitle2{
    font-size: 45px;
    margin-top: 24px;
    text-transform: capitalize;
}

#secondarytitle3{
    margin-right: 20px;
    margin-left: auto;
}

.tertiarytitle{
    padding: 10px;
    background-color: aqua;
    margin-top: 10px;
    width: 80px;
    border-radius: 25px;
    text-align: center;
}

#fourthtitle1{
    display: flex;
}

.fourthtitleimage{
    width: 75px;
    height: 75px;
    border-radius: 71px;
    margin-top: 15px;
}

.fourthtitleuserprofile{
    margin-top: 24px;
    margin-left: 5px;
}


#navbar1{
    display: flex;
    background-color: rgb(200, 239, 239);;
    margin-top: 5px;
}

.navbaritem{
    padding: 5px;
    text-transform: capitalize;
}

#navbaritem1{
    padding-left: 10px;
}

#navbaritem4{
    margin-right: 5px;
    margin-left: auto;
}

.navbaritem:hover{
    background-color: aqua;
}