body{
    height: 100%;
    width: 100%;
    margin: auto;
    background-color: rgb(142, 162, 185);
}

.alert1{
    padding: 20px;
    background-color: #85e072;
    color: white;
    width: 400px;
    margin: auto;
    margin-top: 10px;
}
  
.closebtn1{
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn1:hover{
    color: black;
}

a:link{
    text-decoration: none;
    text-transform: capitalize;
}

.maintitle{
    display: flex;
    height: 105px;
    margin-top: 10px;
    background-color: rgb(200, 239, 239);
}

#mainlogo1{
    height: 75px;
    width: 75px;
    border-radius: 71px;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 2px;
}

#secondarytitle2{
    font-size: 45px;
    margin-top: 24px;
    text-transform: capitalize;
}

#secondarytitle3{
    margin-right: 20px;
    margin-left: auto;
}

.tertiarytitle{
    padding: 10px;
    background-color: aqua;
    margin-top: 10px;
    width: 80px;
    border-radius: 25px;
    text-align: center;
}

#fourthtitle1{
    display: flex;
}

.fourthtitleimage{
    width: 75px;
    height: 75px;
    border-radius: 71px;
    margin-top: 15px;
}

.fourthtitleuserprofile{
    margin-top: 24px;
    margin-left: 5px;
}


#navbar1{
    display: flex;
    background-color: rgb(200, 239, 239);;
    margin-top: 5px;
}

.navbaritem{
    padding: 5px;
    text-transform: capitalize;
}

#navbaritem1{
    padding-left: 10px;
}

#navbaritem5{
    margin-right: 5px;
    margin-left: auto;
}

.navbaritem:hover{
    background-color: aqua;
}

.contactform{
    display: flex;
    background-color: rgb(121, 179, 179);
    width: 250px;
    height: 330px;
    justify-content: center;
    border-radius: 25px;
    margin: auto;
    margin-top: 70px;
}

.inputform{
    margin: 5px;
    height: 25px;
    border-radius: 25px;
}

.formname{
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}

#message{
    height: 60px;
}

#contactsubmitbutton{
    margin-top: 15px;
    margin-left: 62px;
}

.seconadrynavbar{
    display: flex;
    background-color: rgb(121, 179, 179);
}

.image{
    height: 500px;
    width: 500px;
}

.uploadform{
    display: flex;
    background-color: rgb(121, 179, 179);
    justify-content: center;
    height: 350px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

#uploadformbutton{
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 150px;
    margin-right: 1px;
}

.unblockcontent{
    display: flex;
    flex-direction: column;
}

.unuploadsadimg{
    margin: auto;
    height: auto;
    width: auto;
}
