{% extends "pages/page.html" %}

{% block title %}
Contact us
{% endblock title %}

{% block content %}
<h1>Contact us</h1>
<form action="/contact" method="post">
{% csrf_token %}
    <div>
        <label for="name_co">name</label>
        <input type="text" id="name_co" name="name_co">
    </div>
    <div>
        <label for="email">name</label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="subject">subject</label>
        <input type="text" id="subject" name="subject">
    </div>
    <div>
        <label for="message">message</label>
        <input type="text" id="message" name="message">
    </div>
    <button type="submit">submit</button>
</form>
{% endblock content %}

