<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset class="log_in_1" id="lo_11" >
        <legend>login</legend>
        <p id="p_lo_11">username:
            <input type="text" placeholder="user name" required="required" id="in_lo_1" ><br>
            password:
            <input type="password" placeholder="password" name="password" maxlength="4" id="password"><br>
            <button class="login_bu" id="signup">sign-up</sign-up></button>
            <button class="login_bu" id="signin">sign-in</button>
        </p>
</body>
</html>